
<div class="mainbg min-vh-100">
  <div class="container pt-5 d-flex justify-content-center">
    <form #formlogin="ngForm" class="bg-white p-4 formlogin" (ngSubmit)="onSubmit(formlogin)" novalidate>

      <h1 class="mb-5">Login page</h1>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input ngModel type="email" name="email" class="form-control" required >
        <p class="fst-italic"><span *ngIf="formlogin.submitted && formlogin.controls['email'].invalid">Enter email</span></p>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input ngModel type="password" name="password" class="form-control" required pattern=".{3,}">
        <p class="fst-italic"><span *ngIf="formlogin.submitted && formlogin.controls['password'].invalid">Enter password</span></p>
      </div>
      <input type="submit" class="btn btn-primary w-100" value="LOGIN">
      <p *ngIf="error" class="alert alert-danger mt-3" role="alert">
        Invalid login credentials
      </p>
    </form>
  </div>
</div>
