<div class="container mt-4">
  <h1 class="h1admin">New/Edit blog</h1>
  <input type="button" (click)="save()" value="SAVE" class="btn btn-primary"/>
</div>
<div class="container mt-5">
  <form class="row align-items-center">
      <div class="col-md-8">
        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Title</label>
          <div class="col-sm-10">
            <input type="text" name="title" [(ngModel)]="blog.title" class="form-control" />
          </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Article</label>
        <div class="col-sm-10">
          <textarea name="article" [(ngModel)]="blog.article" class="form-control" style="min-height: 400px;"></textarea>
        </div>
      </div>
    </div>
  </form>
</div>
