<header class="py-5">
  <div class="container text-center">
    <h1>This is home</h1>
    <p class="lead mb-4">
      A simple Angular project for learning proposes
    </p>
  </div>
</header>

<div class="container">

    <div class="row my-5">
      <div class="col-md-2">
        <img src="./assets/angular-logo.JPG" class="img-fluid rounded-circle" alt="angular logo">
      </div>
      <div class="col-md-8">
        <h2>Angular project</h2>
        <p>This is a basic Angular 14 template.</p>
        <p>Libraries: Boostrap 5.3 and Angular Material  </p>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-md-2">
        <img src="./assets/laravel-logo.jpg" class="img-fluid rounded-circle" alt="laravel logo">
      </div>
      <div class="col-md-8">
        <h2>Laravel backend</h2>
        <p>This project uses a custom laravel api.</p>
        <p>Services: Authentification, manage blogs and users.</p>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-md-2">
        <img src="./assets/jairo.webp" class="img-fluid rounded-circle" alt="foto jairo">
      </div>
      <div class="col-md-8">
        <h2>About me</h2>
        <p>Hello, my name is Jairo and I am a Full Stack Web Developer. </p>
        <p>I live in Tarragona, Spain. I have more than 15 years of experience as a programmer in web environments. </p>
      </div>
    </div>
</div>
